.olimp-circles {
    position: relative;
    width: 600px;
    height: 600px;
    margin-left: 150px;
}

.circle-blue {
    height: 100px;
    width: 100px;
    border: 10px solid #0682D1;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: 65px;
    
}
.circle-yellow {
    height: 100px;
    width: 100px;
    border: 10px solid #F6C403;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 75px;
    left: 125px;
}
.circle-black {
    height: 100px;
    width: 100px;
    border: 10px solid #030303;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: 185px;
}
.circle-green {
    height: 100px;
    width: 100px;
    border: 10px solid #0AA139;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 75px;              
    left: 245px;
}
.circle-red {
    height: 100px;
    width: 100px;
    border: 10px solid #E90028;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: 305px;
}