.olimp-circles {
    position: relative;
    height: 200px;
    padding-top: 15px; 
}

.circle-blue {
    height: 100px;
    width: 100px;
    border: 10px solid #0682D1;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: 8%;
    z-index: 2;
}
.circle-yellow {
    height: 100px;
    width: 100px;
    border: 10px solid #F6C403;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 71px;
    left: 20%;
    z-index: 1;
}
.circle-black {
    height: 100px;
    width: 100px;
    border: 10px solid #030303;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
}
.circle-green {
    height: 100px;
    width: 100px;
    border: 10px solid #0AA139;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 71px;              
    left: 46%;
    z-index: 1;
}
.circle-red {
    height: 100px;
    width: 100px;
    border: 10px solid #E90028;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: 58%;
    z-index: 2;
}
.card{
    margin: 50px;
    width: 300px !important;
}

