h1{
    color:red;
}
.blue{
    color: blue;
}
#a69{
    color:greenyellow;
}
.square{
    height: 150px; 
    width: 100px;
    background-color: black;
    border-radius: 100%;
    border: 10px solid green;
    margin-left: 150px;
    padding-top: 75px;
   color:aliceblue; 
}
